{% extends 'base.html.twig' %}

{% block title %}New Newscast{% endblock %}

{% block body %}
    <h1>Create new Newscast</h1>

    {{ include('newscast/_form.html.twig') }}

    <a href="{{ path('newscast_index') }}">back to list</a>
{% endblock %}
