{% extends 'base.html.twig' %}

{% block title %}Ajouter une date{% endblock %}

{% block body %}
        <h1 class="text-center">Administration de la tournée</h1>
        {% include '/components/_map.html.twig' %}
{% endblock %}
