{% extends 'base.html.twig' %}

{% block title %}Ajouter une date{% endblock %}

{% block body %}
        <h1 class="text-center">Administration de la tournée</h1>
        <div class="map-container" id="map-container">
            <img class="map" src="{{ asset('build/images/map.png') }}" alt="carte France">
            <div class="map-grid">
            {% for i in 1..2392 %}
                {% if block_representations[loop.index] is defined %}
                    <div class="map-grid-item booked">
                {% else %}
                        <div class="map-grid-item" type="button" data-bs-toggle="modal" data-bs-target="#modalEvent-{{ loop.index }}">
                {% endif %}

                {% if block_representations[loop.index] is defined %}
                    <span type="button" data-bs-toggle="modal" data-bs-target="#modalInfo-{{ loop.index }}">
                        <img src="{{ asset('build/images/icon.png') }}" alt="favicon_laurie">
                    </span>
                    {% set representation = block_representations[loop.index] %}
                    {% include 'map/_modal-information.html.twig' %}
                {% endif %}
                </div>
                {% include 'map/_modal-map.html.twig' %}
            {% endfor %}
            </div>

        </div>
            <script>
                let screenWidth = window.innerWidth;
                let mapContainer = document.getElementById('map-container');
                if (screenWidth < 680) {
                    mapContainer.style.transform = 'scale(' + screenWidth/1000 + ')';
                    mapContainer.style.marginLeft = '-150px';
                }
            </script>
{% endblock %}
