{% extends 'base.html.twig' %}

{% block title %}New Social{% endblock %}

{% block body %}
    <h1>Créer un nouveau réseau social</h1>

    {{ include('social/_form.html.twig') }}

    <a href="{{ path('social_index') }}">Retour à la liste</a>
{% endblock %}
