{% extends 'base.html.twig' %}

{% block title %}Biographie - {{ parent() }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-4 col-sm-12" >
            <img src="{{ asset('build/images/laurie_debout.jpg') }}" alt="Laurie Peret" class="laurie-debout slide-in-left">
        </div>
        <div class="col-md-8 col-sm-12 bio-text pt-3">


            <h2>Biographie</h2>
            <p class="text-justify">
            Laurie Peret grandit à Maurepas dans les Yvelines.
                <br>
            Passionnée par les arts depuis sa plus tendre enfance, elle étudie le piano au conservatoire pendant huit ans, et le chant dans sa chambre (en rêvant secrètement d’intégrer un jour le groupe Abba). Puis à 15 ans, sur les conseils de son ami Issa Doumbia, elle rejoint l’univers de la comédie. Elle intègre l’équipe d’improvisation théâtrale des juniors de Trappes (qui avait vu briller Jamel Debbouze quelques années auparavant). Une révélation pour elle. « Viens, on est en galère de meuf » lui avait dit Issa Doumbia. Elle rencontre les zigotos qui composent cette équipe, et comprend rapidement pourquoi les autres filles avaient fui. C’est d’ailleurs ce qui la fera rester. Ensemble, ils remporteront le titre de champion de France d’impro, puis ils crééront leur propre compagnie qu'ils feront couler eux-mêmes deux ans plus tard par leur manque de rigueur et leur amour destructeur de la rigolade.
                <br>
            Parallèlement, malgré les mises en garde et le désarroi de ses proches, elle écrit compose et interprète ses chansons rnb.
                <br>
            Elle participe à  Mozart l’Opéra Rock mais décide de se lancer en solo dans la chanson.
                <br>
            Comme personne ne la rattrape elle vit tantôt en chantant dans des cabarets tantôt en écrivant pour la pub et la télé.
                <br>
            Puis en 2017, Alors qu’elle se présente à un tremplin d’humour visant le 2ème prix à savoir la somme de 300€, elle se fait remarquer en gagnant.
                <br>
            Elle se voit donc remporter d’assurer la 1ère partie de Lamine Lezgad quelques semaines plus tard. Contrainte de devoir réécrire 30 minutes supplémentaires, elle fait le tour des plateaux parisiens et fini par, 4 mois plus tard, accoucher de son premier one woman show musical « Spectacle Alimentaire En Attendant La Pension » dans lequel on retrouve sa fameuse chansons 1, 2, 3 sur l’accouchement (29 Millions de vues sur facebook)
                <br>
            Spectacle dans lequel Laurie vous présente ses chansons (sûrement dans un but lucratif), écrites et composées pour la plupart sur le piano de sa fille entrecoupées d’anecdotes dont on se serait bien passé.
                <br>
            Un spectacle drôle, touchant et décalé interdit aux mineurs parce que quand on sort c’est pas pour se taper les gamins des autres.
            </p>
        </div>
    </div>
</div>
{% endblock %}
