.navbar-collapse {
    flex-grow: 0;
}
footer {
    margin-top: 15px;
    min-height: 100px;
}
.text-justify {
    text-align: justify;
}
.font-12 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.5rem;
}
.no-padding {
    padding: 0;
}
.maxwidth-30vw {
    max-width: 30vw;
}