.laurie-debout {
    height: 100vh;
}
.bio-text {
    font-size: 1.2em;
    z-index: 2;
    p {
        br {
            margin-bottom: 15px;
        }
    }
}
@media scrend and (max-width:768px)  {
    .laurie-debout {
        height: 50vh;
    }
}