.laurie-droite {
    width: 50vw;
}
.shutters {
    align-items: center;
}
.shutter-left {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 800;
    text-align: center;
    line-height: 1em;
    font-size: 5rem;
    width: 50vw;
    p  {
        font-size: 1.5em;
    }
}

.shutter-right {
    width: 50vw;
}

.slide-in-right {
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.container-cards {
    background-image: url('../images/fond-2.jpg');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.card {
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    padding-top: 50%;
    color: $secondary;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 80%;
}
.card-bio {
    background-image: linear-gradient(180deg,rgba(91,91,91,0.42) 0%,rgba(48,48,48,0.4) 0%), url('../images/laurie_bio.jpg');
}
.card-show {
    background-image: linear-gradient(180deg,rgba(91,91,91,0.42) 0%,rgba(48,48,48,0.4) 0%),url('../images/laurie_spectacles.jpeg');
}
.card-media {
    background-image: linear-gradient(180deg,rgba(91,91,91,0.42) 0%,rgba(48,48,48,0.4) 0%),url('../images/laurie_media.jpg');
}
.carousel-item > img {
    height: 80vh;
    object-fit: none;
}
.carousel-inner {
    background-color: black;
}
.carousel-caption > p {
    font-size: 1.5rem;
}
.subtitle {
    margin: 60px;
    height: 50px;
    background-color: $primary;
    box-shadow: 2px 2px 9px #4a4848;
}
.subtitle-text {
    font-size: 1.5em;
}
.article {
    width: 400px;
}
.article-overlay {
    background-color: #FCCC00;
    position: absolute;
    z-index: 2;
    opacity: 0;
    width: 400px;
    height: 566px;
    padding-left: 156px;
    padding-top: 265px;
    &:hover {
        opacity: .7;
    }
}
#boutique {
    background-image: url('../images/la_taule.png');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        visibility: visible;
    }
    100% {
        transform: translateX(0);
    }
} 
.slide-in-left {
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        visibility: visible;
    }
    100% {
        transform: translateX(0);
    }
}
.slide-in-down {
    animation-name: slideInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.book-img {
    width: 400px;
    height: 566px;
}
@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        transform: translateY(0);
    }
}
@media screen and (max-width: 768px){
    .laurie-droite {
        width: 100vw;
    }
    .shutter-left {
        display: none;
    }
    .carousel-item > img {
        object-fit: cover;
    }
    .card {
        width: 100%;
    }
}

