.map {
  max-width: 100%;
  height: auto;
}
.map-container {
  text-align: center;
  position: relative;
  width: 650px;
}
.map-grid {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: repeat(52, 13px);
}
.booked {
  background-color: $secondary;
}
.map-grid-item {
  height: 13px;
  cursor: pointer;
  &:hover {
    background-color: $primary;
  }
}
.rainbow-map {
  width: 50px;
  z-index: 5;
  position: relative;
  left: -15px;
  top: -15px;
}

@media screen and (max-width: 680px){
  .modal-backdrop {
    position: unset;
  }
}

