.map {
  max-width: 100%;
  height: auto;
}
.map-container {
  text-align: center;
  position: relative;
  width: 650px;
}
.map-grid {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: repeat(52, 13px);
}
.booked {
  background-color: $secondary;
}
.map-grid-item {
  height: 13px;
  cursor: pointer;
  &:hover {
    background-color: $primary;
  }
}
/*
@media screen and (max-width: 768px){
  .map-container {
    transform: scale(0.7);
    margin-left: -90px;
  }
}
@media screen and (max-width: 375px){
  .map-container {
    transform: scale(0.5);
    margin-left: -150px;
  }
}*/
