<footer class="bg-dark text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-12 mb-3 mt-3">
                <h3>CONTACT</h3>
                <i class="fas fa-microphone-alt"></i> PRODUCTION : Jean-Philippe BOUCHARD <br>
                <i class="fas fa-glass-cheers"></i> OPÉRATIONS SPÉCIALES : Jean Dupond <br>
                <i class="fas fa-newspaper"></i> PRESSE : Jean Durand <br>
                <i class="fas fa-bus"></i> TOURNÉE : Jean Bernard <br>
            </div>
            <div class="col-md-4 col-sm-12 mb-3 mt-3">
                <h3>PLAN DU SITE</h3>
                <ul>
                    <li>Home</li>
                    <li>Médias</li>
                    <li>Spectacles</li>
                    <li>Biographie</li>
                    <li>Boutique</li>
                    <li>Les Petits conseils de Laurie Peret</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 mb-3 mt-3">
                <h3>JE SUIS AUSSI ICI</h3>
                <i class="fab fa-instagram-square fa-5x"></i>
                <i class="fab fa-facebook-square fa-5x"></i>
                <i class="fab fa-twitter-square fa-5x"></i>
                <i class="fab fa-youtube-square fa-5x"></i>
            </div>
        </div>
    </div>
</footer>